@use '@angular/material' as mat;

@include mat.core();


$primary: mat.define-palette(mat.$red-palette);
$accent: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((color: (primary: $primary,
                accent: $primary,
            )));

// Define a dark theme
$dark-theme: mat.define-dark-theme((color: (primary: $primary,
                accent: $primary,
            )));